* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #fff;
  box-shadow: 0px 0px 25px #858585;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.cardImg img {
  max-width: 100%;
  height: 150px;
}
.card {
  width: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 25px #ccc;
  padding: 15px;
  border-radius: 9px;
  margin-bottom: 20px;
}
.cardContant {
  width: 100%;
  margin-top: 10px;
}
.prodactTitle {
  font-size: 20px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.prodactPrice {
  font-size: 15px;
  font-weight: 700;
}
.prodactCategory {
  font-size: 15px;
  text-transform: capitalize;
}
.prodactOrderBtn {
  border: none;
  padding: 5px 15px;
  background-color: orangered;
  text-transform: capitalize;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
}
.prodactDetails {
  padding: 1rem 0;
}
.prodactDetailsImg {
  text-align: center;
  box-shadow: 0px 0px 15px #ccc;
  border-radius: 10px;
  padding-top: 16px;
}
.prodactDetailsImg img {
  max-width: 100%;
  height: 400px;
}
.prodactDetails {
  margin-top: 50px;
}
.prodactRightContant {
  padding-left: 15px;
  height: 100%;
}
.prodactPriceRight {
  display: inline-block;
  background-color: #b185f6;
  padding: 5px 15px;
  border-radius: 30px 4px 5px 30px;
  color: #fff;
}
.prodactOrderBtn {
  border: none;
  padding: 5px 15px;
  background-color: orangered;
  text-transform: capitalize;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
}
.prodactCategory_right {
  background-color: #b0e5ea;
  text-transform: capitalize;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 15px;
}
.prodact_main:hover a {
  text-decoration: none;
}
.logoImg {
  width: 100%;
}
.navBar {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.navBar ul li {
  display: inline-block;
  list-style: none;
}
.navBar ul li a {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
}
.cartImg {
  width: 50%;
  margin-top: 12px;
}
.banner {
  background: linear-gradient(49deg, #5704e3, #00ffad);
  padding-top: 2rem;
}
.banner img {
  width: 100%;
  height: 500px;
}
.shopingContant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.shopingContant h2 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.shopingContant p {
  font-size: 15px;
  text-align: center;
  width: 65%;
  margin: 0 auto;
  line-height: 26px;
  font-weight: 500;
  color: #fff;
}
.orderBtn {
  border: none;
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(45deg, #f66414, #bddb3d);
  color: #f4f4f4;
}
.ourProdact {
  padding: 2rem 0;
}
